<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p class="error">{{errorMessage}}</p>
    <input v-model="address" type="text" placeholder="address">
    <input v-model="balance" type="text" placeholder="address account balance:" disabled><br />
    <button v-on:click="handler">Get transactions</button>
    <p v-if="socketError" class="error">Socket connection failed, to retry:</p>
    <button v-if="socketError" v-on:click="getTransactionFromWebsocket">retry</button>
    <p class="success">{{socketMessage}}</p>
    <table>
      <thead>
      <tr>
        <th v-for="key in columns"
            @click="sortBy(key)">
          {{ key }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-if="waiting">
        <p>loading transactions</p>
      </tr>
      <tr v-for="entry in sortedTransactions">
        <td v-for="key in columns">
          <p v-if="isDate(key)">
            {{entry['transaction'][key] | dateFormat}}
          </p>
          <p v-if="!isDate(key)">
            {{entry['transaction'][key]}}
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import nem from 'nem-sdk';
  import _ from 'lodash';

  const balanceComma = new Intl.NumberFormat('en-US');

  export default {
    data() {
      return {
        msg: 'NEM NIS retrieve transaction history',
        // address: 'TCBWQO3WDQ6P45WFLZZJLQ6TVGB5Y45F4VDMM5U6',
        address: '',
        // endpoint: {
        //   protocol: 'http',
        //   host: 'http://127.0.0.1',
        //   port: 7890,
        // },
        endpoint: {
          protocol: 'http',
          host: 'https://adamexperimental.cyberblox.my',
          port: 7891,
        },
        balance: null,
        columns: ['timeStamp', 'amount', 'type', 'deadline', 'fee', 'version', 'recipient'],
        dateColumns: ['timeStamp', 'deadline'],
        transactions: [],
        sortKey: 'timeStamp',
        order: 'desc',
        errorMessage: '',
        socketError: false,
        socketMessage: '',
        waiting: false,
      };
    },
    computed: {
      sortedTransactions() {
        return _.orderBy(this.transactions, [this.sortKey], [this.order]);
      },

    },
    filters: {
      dateFormat(value) {
        return new Date(value).toTimeString();
      },
    },
    methods: {
      getAccountData() {
        nem.com.requests.account.data(
          this.endpoint,
          this.address,
        ).then((res) => {
          this.balance = `balance: ${balanceComma.format(res.account.balance / 1000000)} XEM`;
        }, (err) => {
          this.errorMessage = 'account details not found for the address';
        });
      },
      getTransactionFromWebsocket: async function () {
        const connector = nem.com.websockets.connector.create(this.endpoint, this.address);
        connector.connect().then(() => {
          this.socketMessage = 'socket connection successfully created. You will get real time transactions now';
          nem.com.websockets.requests.account.transactions.recent(connector, (response) => {
            response.data.forEach((element) => {
              this.transactions.push(element);
            });
          });
        }).catch((err) => {
          this.socketError = true;
        });
      },
      async getTransactions() {
        this.waiting = true;
        nem.com.requests.account.transactions.all(
          this.endpoint,
          this.address,
        ).then((res) => {
          this.waiting = false;
          res.data.forEach((element) => {
            this.transactions.push(element);
          });
        }, (err) => {
          this.waiting = false;
          this.errorMessage = err;
        });
      },
      handler() {
        this.errorMessage = '';
        this.socketError = false;
        if (this.address === '' || this.address === null) {
          this.errorMessage = 'address not valid. For testing you can try TCBWQO3WDQ6P45WFLZZJLQ6TVGB5Y45F4VDMM5U6';
        } else {
          this.getAccountData();
          this.getTransactions();
          this.getTransactionFromWebsocket();
        }
      },
      sortBy: function (sortKey) {
        if (this.sortKey === sortKey) {
          this.order = (this.order === 'desc' ? 'asc' : 'desc');
        } else {
          this.order = 'desc';
        }
        this.sortKey = sortKey;
      },
      isDate(key) {
        return (this.dateColumns.indexOf(key) !== -1);
      },
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #444;
  }

  table {
    background-color: #fff;
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #4CAF50;
  }

  th {
    background-color: white;
    color: black;
    cursor: pointer;
    border-left: 1px solid #4CAF50;
    border-right: 1px solid #4CAF50;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  td {
    background-color: #f9f9f9;
    border-left: 1px solid #4CAF50;
    border-right: 1px solid #4CAF50;
  }

  th, td {
    min-width: 120px;
    padding: 10px 20px;
  }

  th.active {
    color: #fff;
  }

  th.active .arrow {
    opacity: 1;
  }

  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }

  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
  }

  .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }

  .error {
    font-weight: normal;
    color: red;
  }

  .success {
    font-weight: normal;
    color: green;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
  input[type=text], select {
    text-align: center;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[disabled] {
    background-color: #f9f9f9;
  }

  button {
    width: 300px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
</style>
